/*** Color /***/

$primary-color: #00a79d;
$red-color: #ff0000;
$black-color: #000000;
$white-color: #ffffff;
$primary-hover: #1f2f44;
$light-gray: #e3e3e3;
$border-light: #dedede;
$theme-light-color: #e4f5f3;
$light-gray-a8: #a8afb8;
$dark-black-2d: #2d3e54;
$dark-black-0f: #0f1d30;
$inputtwo-color: #8591a0;
$warning-color: #ffc107;
$theme-light-whitetext: #ebe5f4;
$primary-btn-color: #8f1db0;
$primary-btn-hover: #8f1db0;
$stepnumber-color: #4c1099;
$nextstep-btn-bg: #0d1c31;
$disble-btn: #969696;
$pink-color: #1f2f44;
$tryagain-color: #0d1c31;
$user-border-color-od: #0d1c31;
$circle_hover_bg: #1f2f44;
$dark-blue-color: rgb(13, 28, 49);
$dark-blue-trans-color: rgba(13, 28, 49, 0.8);
$dark-blue-grey: rgba(13, 28, 49, 0.1);
$dark-blue-grey-color: rgba(13, 28, 49, 0.44);
$dark-blue-grey-color-border: rgba(13, 28, 49, 0.2);
$dark-blue-grey-color-transcription: rgba(10, 31, 65, 0.5);
$indigo-blue-color: rgb(76, 16, 153);
$twitter: #1da1f2;
$dark-blue-black-0b: #0b1d39;
$dark-black-14: #141414;
$dark-black-2c: #2c2c2c;
$yellow-color-theme: #f3c93c;
$disble-btn-8a: #8a8a8a;
$white-color-trans-50: rgba(255, 255, 255, 0.5);
